* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1.5em;
}

header {
    display: inline;
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 15px;
}

nav ul {
    display: flex;
    justify-content: center;
}

.section_1, .section_2, footer {
    display: inline;
    grid-column: 1 / -1;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

/* General styling */  
    html, body {
        background: linear-gradient(#D1EAFA, #8cd0fa);
        background-color: #D1EAFA; /* For browsers that do not support gradients */
        min-height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 15px;
        color: rgb(88, 88, 88);
    }

    h1, h2, h3, h4 ,h5{
        margin: 0px 10px 20px;
    }

    #maintitle {
        font-family: 'Dancing Script', cursive;    
        font-size: 8em; /* 100px/16=1em */
        font-weight: normal;
        line-height: 0.7em;
        color: rgb(210, 170, 10);
    }

    h1 {
        font-size: 2em;
        line-height: 1.25em;
        font-weight: normal;
    }

    h2 {
        font-size: 1.5em;
        line-height: 1.25em;
        font-weight: normal;
        text-align: center;
    }

    h3 {
        font-size: 1.1em;
        font-weight: normal;
        margin: 0px 10px;
        text-align: left;
        text-decoration-line: underline;
        line-height: 50px;
    }

    .circle { /* gold cirlce numbers */
        background: url(/graphics/circle_outline.svg);
        background-position: center;
        padding: 10px 5px;
        background-repeat: no-repeat;
        background-origin: content-box;
    }

    h4 { /* centered numbers */
        color:  rgb(210, 170, 10);
        font-size: 1.5em;
        font-weight: normal;
        margin: 0px 10px;
        text-align: center;
    }

    h5 { /* only used in footer */
        font-weight: normal;
        color: white;
    }

    p {
        font-size: 1.1em;
        line-height: 1.4em;
        margin: 15px 10px;
    }

    footer {
        margin: 0px -30px;
        padding-top: 10px;
        text-align: center;
        background-color: #4d97c5;
    }

    figcaption {
        font-size: 0.8em;
        font-style: italic;
        text-align: right;
        margin: 5px 10px;
    }

/* navigation menu */
    nav li {
        list-style-type: none;
        margin: 10px 15px;
    }

    nav a:link {
        align-items: center;
        font-size: 1.2em; /* 16=1em */
        color:rgb(88, 88, 88);
        text-decoration: none;
        padding: 15px;
    }

    nav a:visited {
        color: rgb(88, 88, 88);
    }

    nav a:hover {
        background-color: rgb(210, 170, 10);
        color: white;
        transition: 0.5s;
    }

    li a.active {
        background-color: rgb(210, 170, 10);
        color: white;
    }

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(255, 250, 250);
    background-color: rgb(210, 170, 10);
    max-width: 100%;
    padding: 15px 32px;
    margin: 50px 60px 20px;
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.20);
    cursor: pointer;    
}

/* image and drawing */
    .drawing {
        margin-top: 20px;
        width: 150px;
        transition: width 1s;
    }

    img {
        width: 100%;
        height: auto;
    }

    .social {
        width: 35px;
        padding: 5px 10px 8px;
    }

/* order-form */
    input, select {
        font-size: 1em;
        color: rgb(88, 88, 88);
        width: 100%;
        margin: 10px 0px;
    }

    .button_submit {
        display: flex;
        justify-content: flex-start;
        border: none;
        color: rgb(255, 250, 250);
        background-color: rgb(210, 170, 10);
        max-width: 100%;
        padding: 15px 32px;
        margin-top: 30px;
        font-size: 1.1em;
        text-decoration: none;
        text-align: center;
        border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.20);
        cursor: pointer;    
    }

 /* media queries */
 @media only screen and (min-width: 1024px)
{ 
    .container {
        grid-template-rows: auto auto 80px;
        grid-gap: 4em;
    }

    header {
        margin-top: 0px;
    }

    .section_1 {
        grid-column: 1 / 2;
    }

    .section_2 {
        grid-column: 2 / -1;
    }

    html, body {
        margin: 0px 50px;
    }

    footer {
        margin: 0px -100px;
    }

    #maintitle {
        font-size: 7em; 
        padding: 0px 20px 10px;
    }

    h1 {
        font-size: 1.75em;
        line-height: 1.25em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3, p, .button, .button_submit {
        font-size: 1em;
    }

    h5 {
        font-size: 0.7em;
        letter-spacing: 0.03em;
    }

    p {
        line-height: 1.35em;
        letter-spacing: 0.0em;
    }

    nav a:link {
        font-size: 1.1em; 
    }

    /* order-form */
        form > div {
         display: flex;
         justify-content: start;
         gap: 3em;
        }    

        #camera {
         width: 2.5em;
        }

    /* image and drawing */
        .drawing {
         width: 130px;
        }

        .social {
         width: 25px;
        }
}